.background {
	background-image: url('resources/images/background.png');
	background-position: 50% 32%;
	min-height: 250px;
}

.whiteString {
	color: white;
	text-align: center;
	padding: 50px;
}

.headerDiv {
	margin-bottom: 20px;
}
#body {
	min-width: 600px;
}