.div-float {
	margin: auto;
	width: 80%;
}
.left-float {
	float: left;
}
.right-float {
	float: right;
}
.margin-right {
	margin-right: 5px;
}
.tableDiv {
	margin: auto;
	width: 80%;
	align-content: center;
}