
.div-float {
	margin: auto;
	width: 80%;
}
.left-float {
	float: left;
}
.right-float {
	float: right;
}
.margin-right {
	margin-right: 5px;
}
.tableDiv {
	margin: auto;
	width: 100%;
}
#map{
	float:left;
	margin-left: 3%;
	margin-right:2%;
}

#leftCenter{
	float:left;	
	width: 45%;
	overflow-y:scroll;
	max-height:500px;
}
.table .thead-light th {
	text-align: center;	
	height: 60px;
	width: 200px;
}
.table .thead-light td {
	text-align: center;
}
#price{
	width: 150px;
}
#dongd{
	width: 100px;
}
#jebun{
	width: 100px;
}
#area{
	width: 100px;
}
#locationSearch {
	background-color: #1E90FF;
}

#locationSearchtext {
	color: #ffffff;
}
#aptname{
	width: 400px;
}
#selectbox{
	background:blue;
}
#cen{
	width:20%; margin: 0 auto
}

.dong{
	width: 90px;
}
