h3{
	text-align: center;
}

#map{
	float:left;
}
#leftCenter{
	float:left;	
	width: 45%;
	max-height:500px;
	margin-right: 20px;
	margin-left:4%;
}
.table .thead-light th {
	
	text-align: center;	
	height: 40px;
	width: 400px;
}
.table .thead-light td {
	margin: 80px;
	text-align: center;
}
#nom{
	width: 20%;
}
#ci{
	width: 20%;
}
#gu{
	width: 20%;
}
#price{
	width: 20%;
}

#selectbox{
	background:blue;
}
#cen{
	width:30%; margin: 0 auto
}
.dong{
	width: 90px;
}
#surround{
	background-color: #1E90FF;
}
#surroundtext{
	color: #ffffff;
}
